# Compiled binary
snake

# Object files
*.o

# IDE / tool folders
.gemini/
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Package files
package-lock.json
node_modules/

# Next.js
.next/
out/

# Game data
highscore.dat

